<h1>All expenses</h1>
<h2>Sum: <%= expenses_sum(@expenses) %></h2>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
  <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.date %></td>
      <td><%= expense.description %></td>
      <td><%= expense.value %></td>
      <td>
        <%= link_to('Edit', edit_expense_path(expense)) %>
        <%= link_to('Delete', expense, method: :delete) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to('Add expense', new_expense_path) %>
